<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contacto</li>
    </ol>
  </nav>


<div class="container">
  <div class="row">
  <div class="col-md-12">

      <h3 class="text-center">Envíanos un mensaje <span class="fas fa-envelope"></span></h3>
      <br>
  </div>
    <div class="col-md-8">

        <label for="">Nombre</label>
        <input type="text" class="form-control">
        <label for="">Correo</label>
        <input type="email" class="form-control" placeholder="@">
        <label for="">Mensaje</label>
        <textarea class="form-control"></textarea>
        <hr/>
        <a href="" class="btn btn-primary">Enviar</a>
        <a routerLink="/lugares" class="btn btn-default">Cancelar</a>
    </div>
    <div class="col-md-4">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <br>
        <p><b>ColSquare</b> es una plataforma para encontrar sitios en Colombia, principalmente en Medellín</p>
        <hr />
    </div>
  </div>
</div>
