textarea{
  height: 130px;
}

h3{
  margin-top: 35px;
}
.btn{
  padding: 10px;
  width: 150px;
}
.logo{
  margin: 20px auto;
}

.plan{
  width: 200px;
  margin: 0 auto;
}
.plan1{

}
label{
  font-weight:bold;
}
.white a{
  color:white !important;
}
